.page_title{
  background-color: #2C3E4F;
  color: #ffffff;
  text-align: center;


  .page_title_text {
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    font-size: 28px;

    &:hover {
      text-decoration: none;

    }
  }

}


.title-area {

  padding-right: 0px;

}
.buttons-area {

  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;

}
.red {
  background-color: #800700;
  border-color: #800700;

  &:hover{
    background-color: darken(#800700, 5%);
  }

}

.jumbo {
  height: 100vh; //visual height units
  border: 1px solid #000000;
  background: image_url("home_pic.jpg");
  background-size: cover; // scale as the .jumbo grows and shrinks
  background-position: center; // center the bg instead of putting at top-left

  .littlebox {
    color: #ffffff;
    float: right;
    margin-top: 16%;
    margin-right: 50px;
    background: none;
    padding: 5px;

    small{
      color: #bdc3c7;

    }

    .checkout_products {
      display: block;
      text-align: center;
      background-color: #ecf0f1;
      color: #2C3E4F;
      font-weight: bold;
      font-size: 18px;
      border-color: transparent;
      &:hover{
        background-color: darken(#ecf0f1, 5%);

      }
    }
  }
}

.menutable{
  color: white;
  padding-left: 150px;
  padding-right: 150px;
  align-items: baseline;
  margin-top: 500px;
  font-size: 20px;

  .titles{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;

    .homelink {
      color: #ffffff;
      &:hover {
        text-decoration: none;

      }

    }

  }

}



.clearancetext {
    color: red;

}

.p_image {
  width: 600px;
  max-width: 100%;
}

.small {

  width: 200px;

}

h3 {
  font-style: normal;
  font-size: 16px;

}

.navbar, .navbar-default {

  border-color: darken(#ECF0F1, 10%);

  .product_cats_menu{
  background-color: lighten(#ECF0F1, 2%);

    .nav, .navbar-nav, li, img, {
      color: #2C3E4F;
      &:hover{
        color: lighten(#2C3E4F, 30%)

      }
    }
  }
}
.product-side-info{
  margin-top: 50px;
  margin-bottom: 50px;


      .panel-heading{
        font-size: 20px;

      }

      .txt {
        padding-left: 5px;

      }

    .product_price_label{
      background-color: #BFF6EB;
      margin-top: 5px;
      padding-left: 5px;
      font-weight: bold;
    }

    .product_dd_label{

      background-color: #EEEEEE;
      padding-left: 5px;
      font-weight: bold;

    }
}
