<div class="row">

  <div class="col-xs-11">

    <h1 class= "page_title">
      <%= link_to root_path do%>
      Mallory Furniture
      <% end%>
    </h1>

  </div>

  <div class="col-xs-1">
      <%= link_to 'Home', root_path, class: "btn btn-lg btn-block btn-success" %>
      <%= link_to 'Back', products_path, class: "btn btn-lg btn-block btn-success" %>

  </div>
</div>

this is a product
